body
  background-color: #f4f4f4 !important
.loginbar
  margin: auto auto
  width: 340px
  height: 340px
  background: #ffffff
  box-shadow: 10px
  text-align: center
  border-radius: 5px
  h1
    margin-top: 35%
    position: relative
    font-size: 50px
    padding-top: 30px
    font-size: 66px !important
    font-family: 'georgiaitalic'
  h6
    text-align: left
    position: relative
    padding: 20px 20px 1px 40px
    font-family: 'latoregular'
  input
    background-image: asset-url("login.png") !important
    background-repeat: no-repeat
    width: 260px  
    height: 40px
    background: #ededed
    border: 2px
    margin: 5px 40px
    border-radius: 5px
    font-family: 'latoregular'
  .button
    text-align: center
    padding: 10px
    color: white
    cursor: pointer
    display: inline-block
    width: 260px
    height: 40px
    border-radius: 5px
    background: #fb6552
    margin: 20px 5px
    position: relative