body
  background-color: #f4f4f4 !important
.loginbar
  margin: auto auto
  width: 340px
  height: 330px
  background: #ffffff
  box-shadow: 10px
  text-align: center
  h1
    margin-top: 35%
    position: relative
    font-size: 50px
    padding-left: 50px
    font-family: 'georgiaitalic'
  h6
    position: relative
    padding-right: 20px
    padding-top: 30px
    font-family: 'latoregular'
  .input
    width: 260px
    height: 40px
    background: #ededed
    border: 2px
    margin: 10px 40px
    &.tip
      tip: 123
  .button
    text-align: center
    padding: 8px
    color: white
    cursor: pointer
    display: inline-block
    width: 250px
    height: 35px
    border-radius: 5%
    background: #fb6552
    margin: auto 5px
    position: relative !important